@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url(../img-login/12686644_SL-103020-37400-03.jpg);
    background-size: cover;
    background-position: center;
}
h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}
h1 span {
    font-weight: 300;
    color: #ccc;
}
.page-login {
    transform: translate(60%,-50%);
    background: #040633c7;
    border: 2px solid #00c4ff;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    padding: 20px 40px;
    border-radius: 70px 0px;
}
.page-login h1 {
    font-size: 36px;
    text-align: center;
}
.page-login .input-login {
    width: 100%;
    height: 50px;
    margin: 30px 0px;
    position: relative;
}
.page-login input {
    background: none;
    outline: none;
    border: 2px solid rgba(225,225,225,0.2);
    border-radius: 40px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.page-login .placeholder {
    color: #ffffffd1;
    position: absolute;
    top: 13px;
    left: 8px;
    padding: 0px 10px;
    transition: 0.3s;
}
.input-login i {
    position: absolute;
    top: 30%;
    right: 20px;
    font-size: 20px;
}
.page-login .remember-login {
    margin:-15px 0px 15px ;
    font-size: 15px;
}
.remember-login label {
    position: relative;
    left: 6%;
}
.remember-login a {
    margin-left: 115px;
    color: #fff;
    text-decoration: none;
}
.remember-login a:hover,.footer-text a:hover,.Register p a:hover {
    text-decoration: underline;
    color: #00c4ff;
}
.remember-login input {
    position: relative;
    left: -193px;
    top: 18px;
}
.page-login .btn {
    width: 100%;
    height: 45px;
    background-color: #00c4ff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: inset 2px 2px 5px #00c4ff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.page-login .btn:hover{
    background: none;
    border: 1px solid #00c4ff;
    color: #00c4ff;
}
.page-login .btn:hover a{
    color: #00c4ff;
}
.btn {
  background: #2563eb;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  transition: 0.3s;
}
.page-login .btn a {
    text-decoration: none;
    color: #000;
}
.page-login .Register {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}
.Register p a {
    color: #fff;
    text-decoration: none;
}
.divider {
    text-align: center;
    margin: 35px 0;
    font-size: 0.8rem;
    color: #c1c1c1;
    position: relative;
}
.social-login {
    padding: 0 50px;
}
.social-btn {
    background: #fff;
    border: none;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8rem;
    width: 30%;
}
.footer-text {
    text-align: center;
    margin-top: auto;
    font-size: 0.85rem;
    color: #888;
}
.footer-text a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.btn-apple {
     margin: 10px 3%;
}
.hr1 {
     margin: -10px 245px;
     opacity: 0.7;
}
.hr2 {
     margin: -10px 25px;
     opacity: 0.7;
}
input:focus  ~.placeholder {
    top: -10px;
    color: #00c4ff;
    background-color: #010739;
    border-radius: 50% 0 0 50%;
}